{% extends "base.html" %}
{% load static %}

{% block title %}채용공고 등록{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/job.css' %}">

<div class="job-container">
  <h2 class="job-title">채용공고 등록</h2>
  <form method="post">
    {% csrf_token %}

    {% if form.errors %}
      <div class="job-errors">
        <ul>
          {% for field in form %}
            {% for error in field.errors %}
              <li><strong>{{ field.label }}:</strong> {{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <br>
    <div class="job-group">
      <label for="{{ form.title.id_for_label }}">공고 제목</label>
      {{ form.title }}
    </div>

    <div class="job-group">
      <label for="{{ form.description.id_for_label }}">상세 내용</label>
      {{ form.description }}
    </div>

    <div class="job-group">
      <label for="{{ form.category.id_for_label }}">직무 카테고리</label>
      {{ form.category }}
    </div>

    <div class="job-group">
      <label for="{{ form.location.id_for_label }}">근무지</label>
      {{ form.location }}
    </div>

    <div class="job-group">
      <label for="{{ form.salary.id_for_label }}">급여</label>
      {{ form.salary }}
    </div>

    <div class="job-group">
      <label for="{{ form.deadline.id_for_label }}">모집 마감일</label>
      {{ form.deadline }}
    </div>

    <div class="job-group">
      <label>모집 기술 스택</label>
      <div class="job-checkbox-group">
        {% for checkbox in form.tech_stack %}
          <label>
            {{ checkbox.tag }}
            {{ checkbox.choice_label }}
          </label>
        {% endfor %}
      </div>
    </div>

    <button type="submit" class="job-btn">공고 등록</button>
  </form>
</div>
{% endblock %}
